<blockquote class="quote">
    <p class="quote-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At temporibus, perferendis suscipit asperiores
        accusantium a aperiam! Quasi fugit sed nam.
    </p>
    <footer>
        <div class="media">
            <div class="media-image">
                <svg class="icon icon--primary quote-line">
                    <use xlink:href="icons/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media-body">
                <h3 class="media-title quote-author">Deepak Chauhan</h3>
                <p class="quote-organisation">Owner , BossWorld inc.</p>
            </div>
        </div>
    </footer>
</blockquote>