<footer class="block block-dark footer">
    <div class="container grid footer-sections">
        <section class="collapse collapse-expand footer-section">
            <header class="collapse-header">
                <h2 class="collapse-heading footer-heading">Products</h2>
                <svg class="icon icon--primary collapse-chevron">
                    <use xlink:href="icons/sprite.svg#wordpress"></use>
                </svg>
            </header>
            <div class="collapse-content">
                <ul class="list">
                    <li><a href="#">Web Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#">Migration</a></li>
                </ul>
            </div>
        </section>
        <section class="collapse footer-section">
            <header class="collapse-header">
                <h2 class="collapse-heading footer-heading">Company</h2>
                <svg class="icon icon--primary collapse-chevron">
                    <use xlink:href="icons/sprite.svg#wordpress"></use>
                </svg>
            </header>
            <div class="collapse-content">
                <ul class="list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </section>
        <section class="collapse footer-section">
            <header class="collapse-header">
                <h2 class="collapse-heading footer-heading">support</h2>
                <svg class="icon icon--primary collapse-chevron">
                    <use xlink:href="icons/sprite.svg#wordpress"></use>
                </svg>
            </header>
            <div class="collapse-content">
                <ul class="list">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Knowledge Base</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </section>
        <section class="collapse footer-section">
            <header class="collapse-header">
                <h2 class="collapse-heading footer-heading">domains</h2>
                <svg class="icon icon--primary collapse-chevron">
                    <use xlink:href="icons/sprite.svg#wordpress"></use>
                </svg>
            </header>
            <div class="collapse-content">
                <ul class="list">
                    <li><a href="#">Domain Checker</a></li>
                    <li><a href="#">Domain Transfer</a></li>
                    <li><a href="#">Free Domain </a></li>
                </ul>
            </div>
        </section>
        <section class="footer-brand">
            <img src="images/logo.png" alt="">
            <p class="footer-copyright">Copyright 2020 Deepak Chauhan</p>
        </section>
    </div>
</footer>