<nav class="nav collapse">
    <a class="nav-brand" href="/"><img src="icons/logo.svg" alt="LOGO"></a>
    <svg class="icon icon-white nav-toggle">
        <use xlink:href="icons/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav-list collapse-content">
        <li class="nav-items"><a href="#">Hosting</a></li>
        <li class="nav-items"><a href="#">VPS</a></li>
        <li class="nav-items"><a href="#">Domain</a></li>
        <li class="nav-items"><a href="#">Pricing</a></li>
    </ul>
</nav>